/*

# only track these directories and files
!/waybar/
!/walker/
!/uwsm/
!/hypr/
!/btop/
!/aether/
!/alacritty/
!.gitignore


# ignore backup files
*.save
*.bak.*
*.bak

# ignore hyprland shaders
/hypr/shaders/*